* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Hero Section */

/* Hero Header */

.hero {
    background-color: #1f2937;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.hero-header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-header-links {
    display: flex;
    gap: 1rem;
}

.hero-header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.hero-header-links a:hover {
    color: #3882f6;
}

/* Hero Content */

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
    gap: 2rem;
}

.hero-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 40%;
}

.hero-content-text-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-content-text-description {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

.hero-content-text-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
}

.hero-content-text-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.hero-content-image {
    min-width: 400px;
    min-height: 200px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0rem 5rem 0rem;
    gap: 2rem;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 60%;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #1f2937;
    font-weight: lighter;
}

.info-item img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* Quote Section */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 10% 20%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-text-author {
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

/* Call to Action Section */

.call-to-action {
    width: 80%;
    padding: 1.5rem 1.5rem;
    background-color: #3882f6;
    border-radius: 3px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 3rem; */
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action-title {
    font-size: 24px;
    color: #f9faf8;
}

.call-to-action-description {
    font-size: 18px;
    color: #f9faf8;
    font-weight: lighter;
}

.call-to-action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    border: 1px solid #f9faf8;
}

.call-to-action-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}
