* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

/* Hero Section */

/* Hero Header */

.hero {
    background-color: #1f2937;
}

.hero-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.hero-header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-header-links {
    display: flex;
    gap: 1rem;
}

.hero-header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.hero-header-links a:hover {
    color: #3882f6;
}

/* Hero Content */

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    gap: 2rem;
}

.hero-content-text {
    width: 40%;
}

.hero-content-text-title {
    font-size: 48px;
    color: #f9faf8;
}

.hero-content-text-description {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

.hero-content-text-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
    white-space: nowrap;
}

.hero-content-text-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.hero-content-image {
    width: 40%;
    aspect-ratio: 2/1;
    overflow: hidden;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 0rem 3rem 0rem;
    gap: 2rem;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
}

.info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 60%;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #1f2937;
    font-weight: lighter;
}

.info-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

/* Quote Section */

.quote {
    background-color: #e5e7eb;
    padding: 4rem 20%;
    width: 100%;
    color: #1f2937;
}

.quote-text-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-text-author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 1rem;
}

/* Call to Action Section */

.call-to-action {
    width: 70%;
    padding: 1.5rem 1.5rem;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 3rem auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action-title {
    font-size: 24px;
    color: #f9faf8;
}

.call-to-action-description {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}

.call-to-action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    border: 1px solid #f9faf8;
    white-space: nowrap;
}

.call-to-action-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

/* Footer */

.footer {
    padding: 2rem 0;
    background-color: #1f2937;
}

.footer-text {
    font-size: 18px;
    color: #f9faf8;
    font-weight: lighter;
    text-align: center;
}
